[Basic]
Id = 1
Interval = 120

[Remote]
SenderUrl = https://hexeverestfunctions.azurewebsites.net/api/PostStadionUhfCard

[Camera]
Address = 192.168.1.152
Username = xxx
Password = xxx

[Zmq]
Endpoint = tcp://localhost:5555
Timeout = 2500
Retries = 10

[Iot]
ConnectionString = HostName=maximus.azure-devices.net;DeviceId=BandiciDevice;SharedAccessKey=pg5F6VZI4deJwMFaqddsDSwiaGXt3IHcnVXBoGYR6to=
Interval = 1