[Basic]
Id = 1
Interval = 120

[Remote]
SenderUrl = https://hexeverestfunctions.azurewebsites.net/api/PostStadionUhfCard

[Camera]
Address = 192.168.1.152
Username = xxx
Password = xxx

[Zmq]
Endpoint = tcp://localhost:5555
Timeout = 2500
Retries = 10